@use "../../shared/style/colors";

.item {
  margin: 15px;
}

.list {
  background-color: colors.$main;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  row-gap: 1em;
}
