@use "../../../shared/style/colors";

.wrapper {
  height: 100vh;
  // background-color:red;
  width: 100%;
  display: flex;
  flex-direction:column;
}

.row {
  display: flex;
  height: calc(100% - 100px);
  // flex-grow:1
}
footer {
  height: 50px;
  background-color: colors.$main-dark;
}

.active-task-view {
  position: static;
  flex-grow: 1;
  height:100%;
  overflow-y: hidden;
}
