@use '../../../shared/style/colors';

.wrapper{
    height:100vh;
    // background-color:red;
    width:100%;
}

.grid-columns{
    display:grid;
    grid-template-columns: 480px 1fr;
    height:100%;
}
.flex-row{
    display:flex;
    width:100%;
    // background:yellow;
    flex-grow:1;
}
.task-list-tab{
    min-width:250px;
    max-width:400px;
    background-color:colors.$main;
    flex-grow:1;
}

footer{
    height:50px;
    background-color: colors.$main-dark;
}

.active-task-view{
    position: static;
    flex-grow:1;
}